<div class="addImage">
<form action="/addImage" method="POST" id="addImage" enctype="multipart/form-data">
      <input type="file" name="image">
      <button type="submit">Добавить</button>
</form>
</div>