  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Granny-Helper</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Info</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
        <li><a href="badges.html">Registration</a></li>
        <li><a href="collapsible.html">Login</a></li>
        </ul>
    </div>
  </nav>
