<div class="addImage">
      <form action="/addImage" method="POST" id="addImage" enctype="multipart/form-data">
            <input required type="file" class="btn btn-primary" name="image" id="buttonFile">
            <button type="submit" class="btn btn-success">Добавить</button>
      </form>
</div>

