{{> havbar}} 
<div class="inst">
  <div>
    <img src="" alt="">
  </div>
  <div>
    <h1>
      # Бабушкин помошник
    </h1>
    <p> О НАС И О СОЗДАНИИ ПРОЕКТА
      Приветствуем вас, уважаемые посетители сайта! Мы команда молодых разработчиков из Лас-Вегаса!💰💸👛🤑💴💎💶
      Недавно к нам обратилась Зинаида Петровна - бабушка одного из наших разработчиков Nikolя.
      Зинаида Петровна решили наладить отношения с молодежью путем изучения современной классики - мемасов, пока Nikolя
      отдыхает, попивает мохито лежа в гамаке на сказочном Бали.
      Поскольку у нас очень добрая душа и огромное количество денег (это не точно) мы решили откликнуться на зов
      насчастной пенсионерки из села Кукуево.
      В ходе проекта выяснилось, что Зинаида Петровна очень плохо видит, но поскольку несчастная пенсионерка все еще
      хочет попытаться найти общий язык с молодежью,а наш разработчик Nikolя все еще не может ( не хочет) присылать
      доллары пенсионерке из США в село Кукуево. Было выдвинута, а затем реаилизована идея об озвучивании смешных
      картинок, которые бабушка будет добавлять себе в профиль на нашем сайте.
  </div>
  <div>
    <h1>
      Инструкция
    </h1>
    <div>
      <img src="" alt="">
      <div>Данная кнопка позволяет добавить новые картинки на главную страницу сайта, которые будут отображаться при вашей последующем входе на сайт. Картинки добавленные которые добавлены другим пользователем не будут отображены.</div>
    </div>
    <div>
      <img src="" alt="">
      <div>Нажав на любую из картинок вы перейдете на страницу, где будет отображен текст считанный искусственным интеллектом с картинки</div>
    </div>
    <div>
      <img src="" alt="">
      <div>Данная кнопка позволяет вернуться обратно на любую из картинок вы перейдете на главную страницу</div>
    </div>
    <div>
      <img src="" alt="">
      <div>Данная кнопка позволяет прослушать текст, что был ранее отображен на картинке, а в последствии на странице</div>
    </div>
  </div>

</div>
