{{> havbar}}
<div class="lk">
  <ul>
    <li class="lkli">User Name: {{name}}</li>
    <li class="lkli">Email: {{email}}</li>
    <li class="lkli">Password: {{password}}</li>
    <li class="lkli">Date of registration: {{create}}</li>
  </ul>
</div>

