{{> havbar}}
 {{#if type}}
<div id="addDiv">
  <button class="btn btn-success" id="showAddForm">Добавить картинку</button>
</div>
 {{/if}}

<div class="superClass">
  {{#each images }}
  <div class="card" id="div_{{id}}">
    <img src="{{link}}" alt="...">
    <div>
      <button id="{{id}}" type="button" class="delete-btn btn btn-danger">Удалить</button>
    </div>
    <div>
      <button id="info_{{id}}" type="button" class="listen-btn btn btn-primary">Прослушать</button>
    </div>
  </div>
  {{/each}}
</div>

<div class="superClass">
  <div class="card">
    <img src='https://www.unisender.com/ru/blog/wp-content/uploads/2020/01/8-url.png' alt="...">
  </div>
  <div class="card">
    <img src='https://webznam.ru/_bl/16/41608074.jpg' alt="...">
  </div>
</div>
