{{> havbar}}
<div >
<h3 >Cлушать</h3>
<p id="textImage">{{text}}</p>
<div ><button type="button" class="btn btn-warning" id="listen-btn">Прослушать</button>
<a href="/"><button class="btn btn-secondary">Назад</button></a>
</div>
