{{> havbar}}
<div style="margin-left: 37%;" class="contList">
<h3 class="listen">Cлушать</h3>
<p id="textImage">{{text}}</p>
<button type="button" id="listen-btn">Прослушать</button>
<a href="/"><button>Назад</button></a>

